# Base URL untuk API Backend
# Untuk Docker / Lokal : http://localhost:8000/api/v1 (browser mengakses via port-forward)
# Untuk Deployment     : https://api.yourdomain.com/api/v1
VITE_API_BASE_URL=http://localhost:8000/api/v1
