# Password untuk MySQL root user (digunakan oleh docker-compose.yml)
DB_PASSWORD=your_mysql_root_password_here

# Opsional: Token Ngrok jika ingin menggunakan fitur tunnel (docker compose --profile tunnel up)
NGROK_AUTHTOKEN=your_ngrok_authtoken_here