# Konfigurasi Identitas Aplikasi
PROJECT_NAME="PILAR Backend API"
VERSION="1.0.0"

# Konfigurasi Database MySQL
# Format: mysql+pymysql://<user>:<password>@<host>:<port>/<nama_database>
# Untuk Docker : host = db (nama service di docker-compose.yml)
# Untuk Lokal  : host = localhost
DATABASE_URL="mysql+pymysql://root:your_password@db:3306/db_komputasi"

# Konfigurasi Keamanan CORS (Situs yang diizinkan mengakses API ini)
BACKEND_CORS_ORIGINS='["http://localhost:5173", "http://localhost:3000"]'
